<div class="footer w-100">
  <div class="w-100 bg-footer py-5">
    <div class="container py-5">
      <div class="row g-3">
        <div class="col-md-4 text-center">
          <div class="text-white">
            <h3 class="text-uppercase">location</h3>
            <p class="text-capitalize mt-3">2215 john daniel drive</p>
            <p class="text-capitalize">Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="text-white">
            <h3>AROUND THE WEB</h3>
            <div class="d-flex justify-content-center align-items-center mt-3">
              <div class="socialdiv me-3">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="socialdiv me-3">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="socialdiv me-3">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
              <div class="socialdiv me-3">
                <i class="fa-solid fa-globe"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="text-white">
            <h3>ABOUT FREELANCER</h3>
            <p class="mt-3">
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-100 bg-dark text-center py-3 d-flex justify-content-center align-items-center"
  >
    <p class="text-white">Copyright © Your Website 2021</p>
  </div>
</div>
