.starline {
  position: relative;
}
.starline::after {
  content: "";
  width: 90px;
  height: 4px;
  background-color: #fff;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-left: 15px;
}
.starline::before {
  content: "";
  width: 90px;
  height: 4px;
  background-color: #fff;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 20px;
}
