<!-- <section class="bg-white w-100 py-5 mt-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-3 fw-bold">PORTFOLIO COMPONENT</h1>
      <h6 class="text-center mb-3 starline">
        <i class="fa fa-star"></i>
      </h6>
    </div>
    <div class="row g-5 mt-3">
      <div *ngFor="let item of imagedata" class="col-md-4">
        <div
          (click)="(src === item)"
          (click)="imgappear(true)"
          class="position-relative cursor-pointer rounded-4 overflow-hidden hover"
        >
          <img [src]="item" class="w-100" alt="" />
          <div
            class="position-absolute appear top-0 bottom-0 start-0 end-0 bg-success d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus fa-5x text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section
    [class]="data ? 'd-block' : 'd-none'"
    class="bg-black bg-opacity-50 z-3 position-fixed top-0 bottom-0 end-0 start-0"
  >
    <div
      (click)="imgappear(false)"
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <div class="" (click)="imgappear(true)">
        <img src="../../assets/images/poert1.png" class="w-100" alt="" />
      </div>
    </div>
  </section>
</section> -->

<section class="bg-white w-100 py-5 mt-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-3 fw-bold">PORTFOLIO COMPONENT</h1>
      <h6 class="text-center mb-3 starline">
        <i class="fa fa-star"></i>
      </h6>
    </div>
    <div class="row g-5 mt-3">
      <div
        (click)="selectImage(item)"
        (click)="toggleVisibility()"
        *ngFor="let item of imagedata"
        class="col-md-4"
      >
        <div
          class="position-relative cursor-pointer rounded-4 overflow-hidden hover"
        >
          <img [src]="item" class="w-100" alt="" />
          <div
            class="position-absolute appear top-0 bottom-0 start-0 end-0 bg-success d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus fa-5x text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section
    *ngIf="!divClicked"
    (click)="onDivClick($event)"
    class="bg-black bg-opacity-50 z-3 position-fixed top-0 bottom-0 end-0 start-0"
  >
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <div class="">
        <img [src]="selectedImage" class="w-100" alt="" />
      </div>
    </div>
  </section>
</section>
