<section>
  <div class="container mt-5 py-5">
    <div class="content text-white text-center py-5">
      <h1 class="fw-bold text-black">ABOUT COMPONENT</h1>
      <h6 class="text-center mb-3 text-black starline">
        <i class="fa fa-star"></i>
      </h6>
    </div>
    <div class="form w-50 mx-auto">
      <div class="input-container">
        <input type="text" class="form-control-color" id="input" required="" />
        <label for="input" class="label">User Name</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" class="form-control-color" id="input" required="" />
        <label for="input" class="label">User Age</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" class="form-control-color" id="input" required="" />
        <label for="input" class="label">User Email</label>
        <div class="underline"></div>
      </div>
      <div class="input-container mb-4">
        <input type="text" class="form-control-color" id="input" required="" />
        <label for="input" class="label">User Password</label>
        <div class="underline"></div>
      </div>
      <button class="btn btn-success rounded-3">Send Massage</button>
    </div>
  </div>
</section>
