<section
  class="bg-success w-100 d-flex justify-content-center align-items-center py-5 mt-5"
>
  <div class="content text-white text-center">
    <div class="photo py-5">
      <img
        src="./assets/images/391739567_1980679785643037_4654887775255292599_n.jpg"
        class="w-25 rounded-circle mb-4 mt-5"
        alt=""
      />
      <h2 class="">START FRAMEWORK</h2>
      <h6 class="text-center mb-3 starline">
        <i class="fa fa-star"></i>
      </h6>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
